.item {
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.name {
  font-size: 28px;
  font-weight: 500;
  color: black;
}
.status {
  font-size: 20px;
  color: red;
}
.online {
  color: green;
}
